.header
    .header__wrapper
        figure.header__wrapper__logo
            img( src="./assets/icons/calculator.svg")
        .header__wrapper__title
            .header__title-top
                h1 Curso práctico de JavaScript
            .header__wrapper__title-down
                h2 Ejercicios