.header
    figure.header__logo 
        img( src="/assets/icons/calculator.svg")
    .header__title 
        .header__title-top
            h1 Curso práctico de JavaScript 
        .header__title-down 
            h2 Ejercicios