extends components/template

block content 
    main
        +section("Módulo 1","Figuras Geométricas","triangulo.svg","Círculo, Cuadrado, Triángulo","/html/geometrics.html")
        +section("Módulo 2","Precios y Descuentos","price.svg","Calcular descuentos con cupones","/html/prices.html")
        +section("Módulo 3","Promedio Aritmético","average.svg","Cálculo de media, media ponderada, mediana, moda","/html/average.html")
    <!--    +section("Módulo 4","Análisis Salarial","income.svg","Cálculo de la mediana de salarios","/html/income.html") --> 